@import "../../../src/styles/variables";
@import "../../../src/styles/animations";
@import "../../../src/styles/mixins";

.c-instagram {
  &__outer-wrapper {
  }

  &__inner-wrapper {
    padding-bottom: 20px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__grid-container {
  }

  &__first-row {
    display: flex; 
    justify-content: space-around;

    img {
      border-radius: 40px;
      max-width: 500px;
    }
  }

  &__second-row {
    display: flex; 
    justify-content: space-around;
    margin-top: 20px;

    img {
      border-radius: 40px;
      width: 200px;
      height: 220px;
    }
  }

}
