@font-face {
    font-family: 'AppleChanceryRegular';
    src: url('../fonts/AppleChanceryRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'MonumentExtendedRegular';
    src: url('../fonts/MonumentExtendedRegular.otf') format('opentype');
}