// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$textColor: #000000;
$textLight1Color: #242424;

$primaryColor: #ffe120;
$primaryLight1Color: #FFEA5F;
$primaryLight2Color: #FFF29F;

$secondaryColor: #FEFEFB;
$secondaryDark1Color: #C9C7C7;
$secondaryDark2Color: #807F7F;