@import "../../../src/styles/variables";
@import "../../../src/styles/animations";
@import "../../../src/styles/mixins";

.c-announcement-bar {
  &__outer-wrapper {
    background-color: $primaryColor;
    padding: 0 30px 0;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  &__inner-wrapper {
    height: 40px;
    display: flex;
    justify-content: space-between;
  }

  &__left-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 30%;
    a {
      font-size: 10px;
    }
    @include lgMaxBreakPoint() {
      display: none;
    }
  }

  &__center-content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @include lgMaxBreakPoint() {
        flex-basis: 100%;
      }
  }

  &__center-emoji {
    height: 25px;
    width: auto;
    transform: rotate(10deg);
  }

  @keyframes slideInOut {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  &__center-text {
    font-family: $titleFont;
    font-size: 10px;
    text-align: center;
    line-height: 15px;

    animation: slideInOut 5s linear infinite;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    left: 100%;
  }


  &__right-content {
    flex-basis: 30%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;

    @include lgMaxBreakPoint() {
      display: none;
    }
  }

  &__shipping {
    padding-right: 5px;
    span {
      white-space: nowrap;
      font-size: 10px;
    }
  }

  &__language-switcher {
    border-left: 1px solid $textLight1Color;
    padding: 0 5px;
    span {
      white-space: nowrap;
      font-size: 10px;
    }
  }

  &__header-links {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0 0 0 5px;
    border-left: 1px solid $textLight1Color;
    list-style: none;

    a {
      font-size: 10px;
    }
  }

  &__account-creation {
    padding-left: 1px;
  }
}
