.c-product {
  &__outer-wrapper {
    max-width: 1500px;
    margin: auto;
    padding: 20px 0;
  }

  &__inner-wrapper {
  }

  &__product-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__bracelet-container {
    width: 65rem;
    height: 28rem;
    border-radius: $borderRadiusHigh;
    border: 1px solid $textLight1Color;
    background-image: url('../../../public/background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
  }

  &__bracelet-gif {
    width: 60%;
    position: absolute;
    left: 16%;
    top: 25%;
  }

  &__content-container {

  }

  &__description-container {
    display: flex;
    align-items: center;
    width: 25rem;
    height: 10rem;
    border-radius: $borderRadiusHigh;
    border: 1px solid $textLight1Color;
    background-color: $secondaryColor;
    margin-bottom: 20px;
  }

  &__description-text {
    width: 100%;
    padding: 20px;
  }

  &__button-container {
    width: 12rem;
    height: 4rem;
    border-radius: $borderRadius;
    border: 1px solid $textLight1Color;
    background-color: $secondaryColor;

  }

  &__charm-swiper {
    .swiper-slide {
        height: 5rem;
        background-color: $secondaryColor;
        border-radius: $borderRadius;
        border: 1px solid $textLight1Color;
        background-size: cover;
        background-position: center;
        position: relative;

        &.one {
          background-image: url('../../../public/composable-1.png');
        }
        &.two {
          background-image: url('../../../public/composable-2.png');
        }
        &.three {
          background-image: url('../../../public/composable-3.png');
        }
        &.four {
          background-image: url('../../../public/composable-4.png');
        }
        &.five {
          background-image: url('../../../public/composable-5.png');
        }
        &.six {
          background-image: url('../../../public/composable-6.png');
        }
    }
  }

  &__composable-charm {
    width: 100%;
  }
}
