.c-product {
  &__outer-wrapper {
    max-width: 1500px;
    margin: auto;
    padding: 20px 0;
  }

  &__inner-wrapper {
  }

  &__product-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px
  }

  &__bracelet-container {
    width: 100%;
    height: 28rem;
    border-radius: $borderRadiusHigh;
    background-image: url('../../../public/background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
  }

  &__bracelet-gif {
    width: 60%;
    position: absolute;
    left: 16%;
    top: 25%;
  }

  &__content-container {
    min-width: 400px;
  }

  &__description-container {
    display: flex;
    align-items: center;
    height: 10rem;
    border-radius: $borderRadiusHigh;
    border: 1px solid $textLight1Color;
    background-color: $secondaryColor;
    margin-bottom: 20px;
  }

  &__description-text {
    width: 100%;
    padding: 20px;
  }

  &__button-container {
    height: 4rem;
    border-radius: $borderRadius;
    border: 1px solid $textLight1Color;
    background-color: $secondaryColor;

  }

  &__charm-swiper {
    .swiper-slide {
        height: 5rem;
        background-color: $secondaryColor;
        border-radius: $borderRadius;
        background-size: cover;
        background-position: center;
        position: relative;

        &.charm-1 {
          background-image: url('../../../public/charm-1.png');
        }
        &.charm-2 {
          background-image: url('../../../public/charm-2.png');
        }
        &.charm-3 {
          background-image: url('../../../public/charm-3.png');
        }
        &.charm-4 {
          background-image: url('../../../public/charm-4.png');
        }
        &.charm-5 {
          background-image: url('../../../public/charm-5.jpg');
        }
        &.charm-6 {
          background-image: url('../../../public/charm-6.jpg');
        }
        &.charm-7 {
          background-image: url('../../../public/charm-7.jpg');
        }
        &.charm-8 {
          background-image: url('../../../public/charm-8.jpg');
        }
        &.charm-9 {
          background-image: url('../../../public/charm-9.jpg');
        }
        &.charm-10 {
          background-image: url('../../../public/charm-10.jpg');
        }
        &.charm-11 {
          background-image: url('../../../public/charm-11.jpg');
        }
        &.charm-12 {
          background-image: url('../../../public/charm-12.jpg');
        }
        &.charm-13 {
          background-image: url('../../../public/charm-13.jpg');
        }
        &.charm-14 {
          background-image: url('../../../public/charm-14.jpg');
        }
        &.charm-15 {
          background-image: url('../../../public/charm-15.jpg');
        }
        &.charm-16 {
          background-image: url('../../../public/charm-16.jpg');
        }
        &.charm-17 {
          background-image: url('../../../public/charm-17.jpg');
        }
        &.charm-18 {
          background-image: url('../../../public/charm-18.jpg');
        }
        &.charm-19 {
          background-image: url('../../../public/charm-19.jpg');
        }
        &.charm-20 {
          background-image: url('../../../public/charm-20.jpg');
        }
    }
  }

  &__composable-charm {
    width: 100%;
  }
}
